html {
  height: 100%;
  width: 100%;
}


body{
  background-color: #b8e7ff;
  font-family: "Arial", sans-serif;
}

h1:hover{
  text-shadow: 2px 2px 2px white;
}

a{
  color: #000000;
  border-style: dotted dashed solid double;
  text-shadow: 2px 2px 2px  #7ad7ff;
}

button{
  color: black;
  background-color: #d1f8ff;
}